.container1{
  background-image:url(https://msmobile.com.vn/upload_images/images/tai-hinh-nen-nha-dep-cho-may-tinh-20.jpg)
}
.button{
  width:200px;
  height: 50px;
}

.card{
  float: left;
  margin: 10px 10px 5px 10px;
}

img{
  height: 300px;
}

.listing-title{
  height: 150px;
}
.form-group{
  width:100%;
  height: 400px;
  background-image: url(https://www.kiena.vn/fileserver/images/file/fixsize-1600x400/upload/addon/catbanner/W5abb228657759/banner-project.jpg)
}
