<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Banner
================================================== -->
<div class="parallax" data-background="assets/images/bg-2.jpg" data-color="#36383e" data-color-opacity="0.45"
     data-img-width="2000" data-img-height="800">
  <div class="parallax-content">

    <div class="container">
      <div class="row">
        <div class="col-md-12">



        </div>
      </div>
    </div>

  </div>
</div>


<!-- Content
================================================== -->
<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h3 class="headline margin-bottom-25 margin-top-65">Newly Added</h3>
    </div>

    <!-- Carousel -->
    <div class="col-md-12">
      <div class="carousel">

        <!-- Listing Item -->
        <div class="carousel-item">
          <div class="listing-item">

            <a href="single-property-page-1.html" class="listing-img-container">

              <div class="listing-badges">
                <span class="featured">Đặc sắc</span>
                <span>Rao bán</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">3.000.000 <i>Hàng tháng</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>

              <div class="listing-carousel">
                <div><img src="assets/images/listing-01.jpg" alt=""></div>
                <div><img src="assets/images/listing-01b.jpg" alt=""></div>
                <div><img src="assets/images/listing-01c.jpg" alt=""></div>
              </div>

            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a href="single-property-page-1.html">Trung cư</a></h4>
                <a
                  href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                  class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  9364 School St. Lynchburg, NY
                </a>
              </div>

              <ul class="listing-features">
                <li>Chiều rộng <span>30m2</span></li>
                <li>Giường ngủ <span>2</span></li>
                <li>Nhà tắm <span>1</span></li>
              </ul>

              <div class="listing-footer">
                <a href="#"><i class="fa fa-user"></i> Hà Huy Cường</a>
                <span><i class="fa fa-calendar-o"></i> 1 ngày trước</span>
              </div>

            </div>

          </div>
        </div>
        <!-- Listing Item / End -->


        <!-- Listing Item -->
        <div class="carousel-item">
          <div class="listing-item">

            <a href="single-property-page-2.html" class="listing-img-container">

              <div class="listing-badges">
                <span>For Rent</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">$900 <i>monthly</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>

              <img src="assets/images/listing-02.jpg" alt="">

            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a href="single-property-page-2.html">Serene Uptown</a></h4>
                <a
                  href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                  class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  6 Bishop Ave. Perkasie, PA
                </a>
              </div>

              <ul class="listing-features">
                <li>Area <span>440 sq ft</span></li>
                <li>Bedrooms <span>2</span></li>
                <li>Bathrooms <span>1</span></li>
              </ul>

              <div class="listing-footer">
                <a href="#"><i class="fa fa-user"></i> Harriette Clark</a>
                <span><i class="fa fa-calendar-o"></i> 2 days ago</span>
              </div>

            </div>

          </div>
        </div>
        <!-- Listing Item / End -->


        <!-- Listing Item -->
        <div class="carousel-item">
          <div class="listing-item">

            <a href="single-property-page-1.html" class="listing-img-container">

              <div class="listing-badges">
                <span class="featured">Featured</span>
                <span>For Rent</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">$1700 <i>monthly</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>

              <img src="assets/images/listing-03.jpg" alt="">

            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a href="single-property-page-1.html">Meridian Villas</a></h4>
                <a
                  href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                  class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  778 Country St. Panama City, FL
                </a>
              </div>

              <ul class="listing-features">
                <li>Area <span>1450 sq ft</span></li>
                <li>Bedrooms <span>2</span></li>
                <li>Bathrooms <span>3</span></li>
              </ul>

              <div class="listing-footer">
                <a href="#"><i class="fa fa-user"></i> Chester Miller</a>
                <span><i class="fa fa-calendar-o"></i> 4 days ago</span>
              </div>

            </div>
            <!-- Listing Item / End -->

          </div>
        </div>
        <!-- Listing Item / End -->


        <!-- Listing Item -->
        <div class="carousel-item">
          <div class="listing-item">


            <a href="single-property-page-3.html" class="listing-img-container">

              <div class="listing-badges">
                <span>For Sale</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">$420,000 <i>$770 / sq ft</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>

              <div class="listing-carousel">
                <div><img src="assets/images/listing-04.jpg" alt=""></div>
                <div><img src="assets/images/listing-04b.jpg" alt=""></div>
              </div>

            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a href="single-property-page-3.html">Selway Apartments</a></h4>
                <a
                  href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                  class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  33 William St. Northbrook, IL
                </a>
              </div>

              <ul class="listing-features">
                <li>Area <span>540 sq ft</span></li>
                <li>Bedrooms <span>2</span></li>
                <li>Bathrooms <span>2</span></li>
              </ul>

              <div class="listing-footer">
                <a href="#"><i class="fa fa-user"></i> Kristen Berry</a>
                <span><i class="fa fa-calendar-o"></i> 3 days ago</span>
              </div>

            </div>
            <!-- Listing Item / End -->

          </div>
        </div>
        <!-- Listing Item / End -->


        <!-- Listing Item -->
        <div class="carousel-item">
          <div class="listing-item">


            <a href="single-property-page-1.html" class="listing-img-container">
              <div class="listing-badges">
                <span>For Sale</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">$535,000 <i>$640 / sq ft</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>

              <img src="assets/images/listing-05.jpg" alt="">
            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a href="single-property-page-1.html">Oak Tree Villas</a></h4>
                <a
                  href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                  class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  71 Lower River Dr. Bronx, NY
                </a>
              </div>

              <ul class="listing-features">
                <li>Area <span>350 sq ft</span></li>
                <li>Bedrooms <span>2</span></li>
                <li>Bathrooms <span>1</span></li>
              </ul>

              <div class="listing-footer">
                <a href="#"><i class="fa fa-user"></i> Mabel Gagnon</a>
                <span><i class="fa fa-calendar-o"></i> 4 days ago</span>
              </div>

            </div>
            <!-- Listing Item / End -->

          </div>
        </div>
        <!-- Listing Item / End -->


      </div>
    </div>
    <!-- Carousel / End -->

  </div>
</div>


<!-- Fullwidth Section -->
<section class="fullwidth margin-top-105" data-background-color="#f7f7f7">

  <!-- Box Headline -->
  <h3 class="headline-box">Bạn đang tìm kiếm gì?</h3>

  <!-- Content -->
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <!-- Icon Box -->
        <div class="icon-box-1">

          <div class="icon-container">
            <i class="im im-icon-Office"></i>
            <div class="icon-links">
              <a href="listings-grid-standard-with-sidebar.html">Rao bán</a>
              <a href="listings-grid-standard-with-sidebar.html">Cho thuê</a>
            </div>
          </div>

          <h3>Căn hộ</h3>
          <p>Sang trọng</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <!-- Icon Box -->
        <div class="icon-box-1">

          <div class="icon-container">
            <i class="im im-icon-Home-2"></i>
            <div class="icon-links">
              <a href="listings-grid-standard-with-sidebar.html">Rao bán</a>
              <a href="listings-grid-standard-with-sidebar.html">Cho thuê</a>
            </div>
          </div>

          <h3>Nhà ở</h3>
          <p>Nhà đẹp</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <!-- Icon Box -->
        <div class="icon-box-1">

          <div class="icon-container">
            <i class="im im-icon-Car-3"></i>
            <div class="icon-links">
              <a href="listings-grid-standard-with-sidebar.html">Rao bán</a>
              <a href="listings-grid-standard-with-sidebar.html">Cho thuê</a>
            </div>
          </div>

          <h3>Nhà để xe</h3>
          <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel
            felis.</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <!-- Icon Box -->
        <div class="icon-box-1">

          <div class="icon-container">
            <i class="im im-icon-Clothing-Store"></i>
            <div class="icon-links">
              <a href="listings-grid-standard-with-sidebar.html">Rao bán</a>
              <a href="listings-grid-standard-with-sidebar.html">Cho thuê</a>
            </div>
          </div>

          <h3>Quảng cáo</h3>
          <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel
            felis.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Fullwidth Section / End -->


<!-- Container -->
<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h3 class="headline centered margin-bottom-35 margin-top-10">Địa điểm phổ biến nhất <span>Cơ sở kinh doanh tại địa điểm phổ biến nhất</span>
      </h3>
    </div>

    <div class="col-md-4">

      <!-- Image Box -->
      <a href="listings-list-with-sidebar.html" class="img-box"
         data-background-image="assets/images/popular-location-01.jpg">

        <!-- Badge -->
        <div class="listing-badges">
          <span class="featured">Đặc sắc</span>
        </div>

        <div class="img-box-content visible">
          <h4>Hà Nội </h4>
          <span>14 địa điểm</span>
        </div>
      </a>

    </div>

    <div class="col-md-8">

      <!-- Image Box -->
      <a href="listings-list-with-sidebar.html" class="img-box"
         data-background-image="assets/images/popular-location-02.jpg">
        <div class="img-box-content visible">
          <h4>Hồ Chí Minh</h4>
          <span>24 địa điểm</span>
        </div>
      </a>

    </div>

    <div class="col-md-8">

      <!-- Image Box -->
      <a href="listings-list-with-sidebar.html" class="img-box"
         data-background-image="assets/images/popular-location-03.jpg">
        <div class="img-box-content visible">
          <h4>Đà Nẵng </h4>
          <span>12 dịa điểm</span>
        </div>
      </a>

    </div>

    <div class="col-md-4">

      <!-- Image Box -->
      <a href="listings-list-with-sidebar.html" class="img-box"
         data-background-image="assets/images/popular-location-04.jpg">
        <div class="img-box-content visible">
          <h4>Nha Trang</h4>
          <span>9 địa điểm</span>
        </div>
      </a>

    </div>

  </div>
</div>

<!-- Container / End -->


<!-- Fullwidth2 Section -->
<section class="fullwidth margin-top-95 margin-bottom-0">

  <!-- Box Headline -->
  <h3 class="headline-box">Bài viết & Mẹo</h3>

  <div class="container">
    <div class="row">

      <div class="col-md-4">

        <!-- Blog Post -->
        <div class="blog-post">

          <!-- Img -->
          <a href="blog-post.html" class="post-img">
            <img src="assets/images/blog-post-01.jpg" alt="">
          </a>

          <!-- Content -->
          <div class="post-content">
            <h3><a href="#">8 Mẹo Giúp Bạn Tìm Nhà Mới</a></h3>
            <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
              rutrum in malesuada vitae. </p>

            <a href="blog-post.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
          </div>

        </div>
        <!-- Blog Post / End -->

      </div>

      <div class="col-md-4">

        <!-- Blog Post -->
        <div class="blog-post">

          <!-- Img -->
          <a href="blog-post.html" class="post-img">
            <img src="assets/images/blog-post-02.jpg" alt="">
          </a>

          <!-- Content -->
          <div class="post-content">
            <h3><a href="#">Màu sắc phòng ngủ bạn sẽ không bao giờ hối tiếc</a></h3>
            <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
              rutrum in malesuada vitae. </p>

            <a href="blog-post.html" class="read-more">Đọc thêm <i class="fa fa-angle-right"></i></a>
          </div>

        </div>
        <!-- Blog Post / End -->

      </div>

      <div class="col-md-4">

        <!-- Blog Post -->
        <div class="blog-post">

          <!-- Img -->
          <a href="blog-post.html" class="post-img">
            <img src="assets/images/blog-post-03.jpg" alt="">
          </a>

          <!-- Content -->
          <div class="post-content">
            <h3><a href="#">Làm gì một năm trước khi mua căn hộ</a></h3>
            <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
              rutrum in malesuada vitae. </p>

            <a href="blog-post.html" class="read-more">Đọc thêm <i class="fa fa-angle-right"></i></a>
          </div>

        </div>
        <!-- Blog Post / End -->

      </div>

    </div>
  </div>
</section>
<!-- Fullwidth2 Section / End -->


<!-- Flip banner -->
<a href="listings-half-map-grid-standard.html" class="flip-banner parallax"
   data-background="assets/images/flip-banner-bg.jpg" data-color="#274abb" data-color-opacity="0.9"
   data-img-width="2500"
   data-img-height="1600">
  <div class="flip-banner-content">
    <h2 class="flip-visible">Chúng tôi giúp mọi người và mọi nhà tìm thấy nhau</h2>
    <h2 class="flip-hidden">Duyệt thuộc tính <i class="sl sl-icon-arrow-right"></i></h2>
  </div>
</a>
<!-- Flip banner / End -->

