<header id="header-container">
  <div id="top-bar">
    <div class="container">
      <div class="left-side">
        <ul class="top-bar-menu">
          <li><i class="fa fa-phone"></i> (123) 123-456</li>
          <li><i class="fa fa-envelope"></i> <a href="#">Hahuycuong1002@gmail.com</a></li>
        </ul>
      </div>
      <div class="right-side1">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
          <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
          <li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="header">
    <div class="container">
      <div class="left-side">
        <div>
          <a routerLink="" class="img"><img class="img" src="assets/images/logo.png" alt=""></a>
        </div>
        <div class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
          </button>
        </div>
        <nav id="navigation" class="style-1">
          <ul id="responsive">
            <li><a class="home1" routerLink="/houses">Giới thiệu</a></li>
            <li><a class="home1" routerLink="/houses">Danh sách cho thuê</a></li>
            <li><a class="home1" routerLink="/houses">Liên hệ</a></li>
            <li><a class="home1" href="#">Thông tin người dùng</a>
              <ul>
                <li><a href="#">Xem thông tin người dùng</a></li>
                <li><a href="#">Đăng kí thông tin người dùng</a></li>
              </ul>
            </li>


          </ul>
        </nav>
        <div class="clearfix"></div>
      </div>
      <div class="right-side" *ngIf="!isCheckLogin">
        <div class="header-widget">
          <a class="sign-in"><a routerLink="login">Đăng nhập</a>/<a routerLink="register">Đăng kí</a></a>
        </div>
      </div>
      <div class="right-side" *ngIf="isCheckLogin">
        <div class="header-widget">
          <a class="sign-in"> <a>Xin chào {{ nameUser }}</a>/<a (click)="logout()" href="#">Đăng xuất</a></a>
        </div>
      </div>
    </div>
  </div>
</header>
