<header id="header-container">
  <div id="top-bar">
    <div class="container1">
      <div class="left-side">
        <ul class="top-bar-menu">
          <li><i class="fa fa-phone"></i> (123) 123-456</li>
          <li><i class="fa fa-envelope"></i> <a href="#">Hahuycuong1002@gmail.com</a></li>
        </ul>
      </div>
      <div class="right-side1">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
          <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
          <li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="header">
    <div class="container">
      <div class="left-side">
        <div>
          <a routerLink="" class="img"><img class="img" src="assets/images/logo.png" alt=""></a>
        </div>
        <div class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
          </button>
        </div>
        <nav id="navigation" class="style-1">
          <ul id="responsive">
            <li><a class="home1" routerLink="../introduce">Giới thiệu</a></li>
            <li><a class="home1" routerLink="/houses">Danh sách cho thuê</a></li>
            <li><a class="home1" routerLink="../contact">Liên hệ</a></li>
            <li><a class="home1" href="#" routerLink="/user-update">Đăng kí thông tin</a></li>
          </ul>
        </nav>
      </div>
      <div class="right-side" *ngIf="!isCheckLogin">
        <div class="header-widget">
          <a class="sign-in"><a routerLink="login">Đăng nhập</a>/<a routerLink="register">Đăng kí</a></a>
        </div>
      </div>
      <div class="right-side" >
        <div class="header-widget">
          <div  class="user-menu" *ngIf="isCheckLogin">
            <div class="user-name"> <span><img src="{{user.image}}" alt=""></span>Xin chào {{user.name}}</div>
            <ul>
              <li><a href="" routerLink="/user"><i class="sl sl-icon-user"></i> Thông tin cá nhân</a></li>
              <li><a href="" routerLink="/change-password"><i class="sl sl-icon-lock"></i> Đổi mật khẩu</a></li>
              <li><a href="" (click)="logout()"> <i class="sl sl-icon-power"></i> Đăng xuất</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
