.header-widget{
  font-size:20px;
  font-weight:500;
}
.name{
  color: #6625c2;
}
#header{
  background-color: rgba(230, 225, 254, 0.81);
}
.home{
  font-size:30px !important;
  font-weight:700 !important;
}
.style-1{
  width:1000px !important;
  position:relative !important;
  bottom:50px !important;
  left:200px !important;
}
.home1{
  font-size:25px !important;
  font-weight:900 !important;
}
.right-side{
  position:relative !important;
  top:45px !important;
  left:200px !important;
}
.img{
  width:12% !important;
  height:10% !important;
  position:relative !important;
  top:5px !important;
}
