<section class="fullwidth margin-top-95 margin-bottom-0">

    <!-- Box Headline -->
    <h3 class="headline-box">Bài viết & Mẹo</h3>

    <div class="container">
        <div class="row">

            <div class="col-md-4">

                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="blog-post.html" class="post-img">
                        <img src="assets/images/blog-post-01.jpg" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="#">8 Mẹo Giúp Bạn Tìm Nhà Mới</a></h3>
                        <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
                            rutrum in malesuada vitae. </p>

                        <a href="blog-post.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->

            </div>

            <div class="col-md-4">

                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="blog-post.html" class="post-img">
                        <img src="assets/images/blog-post-02.jpg" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="#">Màu sắc phòng ngủ bạn sẽ không bao giờ hối tiếc</a></h3>
                        <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
                            rutrum in malesuada vitae. </p>

                        <a href="blog-post.html" class="read-more">Đọc thêm <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->

            </div>

            <div class="col-md-4">

                <!-- Blog Post -->
                <div class="blog-post">

                    <!-- Img -->
                    <a href="blog-post.html" class="post-img">
                        <img src="assets/images/blog-post-03.jpg" alt="">
                    </a>

                    <!-- Content -->
                    <div class="post-content">
                        <h3><a href="#">Làm gì một năm trước khi mua căn hộ</a></h3>
                        <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc,
                            rutrum in malesuada vitae. </p>

                        <a href="blog-post.html" class="read-more">Đọc thêm <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- Blog Post / End -->

            </div>

        </div>
    </div>
</section>