<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h3 class="headline centered margin-bottom-35 margin-top-10">Địa điểm phổ biến nhất  <span>Cơ sở kinh doanh tại địa điểm phổ biến nhất</span></h3>
        </div>

        <div class="col-md-4">

            <!-- Image Box -->
            <a href="listings-list-with-sidebar.html" class="img-box"
                data-background-image="assets/images/popular-location-01.jpg">

                <!-- Badge -->
                <div class="listing-badges">
                    <span class="featured">Đặc sắc</span>
                </div>

                <div class="img-box-content visible">
                    <h4>Hà Nội </h4>
                    <span>14 địa điểm</span>
                </div>
            </a>

        </div>

        <div class="col-md-8">

            <!-- Image Box -->
            <a href="listings-list-with-sidebar.html" class="img-box"
                data-background-image="assets/images/popular-location-02.jpg">
                <div class="img-box-content visible">
                    <h4>Hồ Chí Minh</h4>
                    <span>24 địa điểm</span>
                </div>
            </a>

        </div>

        <div class="col-md-8">

            <!-- Image Box -->
            <a href="listings-list-with-sidebar.html" class="img-box"
                data-background-image="assets/images/popular-location-03.jpg">
                <div class="img-box-content visible">
                    <h4>Đà Nẵng </h4>
                    <span>12 dịa điểm</span>
                </div>
            </a>

        </div>

        <div class="col-md-4">

            <!-- Image Box -->
            <a href="listings-list-with-sidebar.html" class="img-box"
                data-background-image="assets/images/popular-location-04.jpg">
                <div class="img-box-content visible">
                    <h4>Nha Trang</h4>
                    <span>9 địa điểm</span>
                </div>
            </a>

        </div>

    </div>
</div>
