<div id="titlebar" class="property-titlebar margin-bottom-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="listings-list-with-sidebar.html" class="back-to-listings"></a>
        <div class="property-title">
          <h2>{{product.title}} <span class="property-badge">{{product.homestatus.name}}</span></h2>
          <span>
						<a href="#location" class="listing-address">
							<i class="fa fa-map-marker"></i>
              {{product.detail_address}}
						</a>
					</span>
        </div>
        <div class="property-pricing">
          <div class="sub-price">{{product.price | currency: 'VND'}} / Tháng</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Content
================================================== -->
<div class="container">
  <div class="row margin-bottom-50">
    <div class="col-md-12">

      <!-- Slider -->
      <div class="property-slider default">
        <a href="{{product.media[0].content}}" style="background-image: url('{{product.media[0].content}}')"
           class="item mfp-gallery"></a>
      </div>

      <!-- Slider Thumbs -->
      <div class="property-slider-nav">
        <div class="item"><img src="{{product.media[0].content}}" alt=""></div>
      </div>
    </div>
    `
  </div>
</div>


<div class="container">
  <div class="row">
    <!-- Property Description -->
    <div class="col-lg-8 col-md-7 sp-content">
      <div class="property-description">

        <!-- Main Features -->
        <ul class="property-main-features">
          <li>Diện tích <span>{{product.levelsquared.name}} m2</span></li>
          <li>Loại nhà đất <span>{{product.category.name}}</span></li>
          <li>Phòng ngủ <span>{{product.bedroom.name}}</span></li>
          <li>Phòng tắm <span>{{product.bathroom.name}}</span></li>
        </ul>
        <!-- Description -->
        <h3 class="desc-headline">Miêu tả căn nhà</h3>
        <div>
          <p>
           {{product.description}}
          </p>
        </div>
        <!-- Video -->
        <h3 class="desc-headline no-border">Video</h3>
        <div class="responsive-iframe">
          <iframe width="560" height="315"
                  src="https://www.youtube-nocookie.com/embed/UPBJKppEXoQ?rel=0&amp;showinfo=0"
                  frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 sp-sidebar">
      <div class="sidebar sticky right">
        <div class="widget margin-bottom-30">
          <button class="widget-button with-tip" data-tip-content="Print"><i
            class="sl sl-icon-printer"></i></button>
          <button class="widget-button with-tip" data-tip-content="Add to Bookmarks"><i
            class="fa fa-star-o"></i></button>
          <button class="widget-button with-tip compare-widget-button" data-tip-content="Add to Compare">
            <i class="icon-compare"></i></button>
          <div class="clearfix"></div>
        </div>
        <div class="widget">
          <div id="booking-widget-anchor" class="boxed-widget booking-widget margin-top-35">
            <h3><i class="fa fa-calendar-check-o"></i> Lên lịch thuê nhà</h3>
            <div class="row with-forms  margin-top-0">
              <p class="form-row form-row-wide">
                <label>Thời gian ở:
                  <input type='text' class="form-control"/>
                </label>
              </p>
              <p class="form-row form-row-wide">
                <label>Thời gian ở:
                  <input type='text' class="form-control"/>
                </label>
              </p>
              <p class="form-row form-row-wide">
                <label>Thời gian ở:
                  <input type='text' class="form-control"/>
                </label>
              </p>
              <p class="form-row form-row-wide">
                <label>Thời gian ở:
                  <input type='text' class="form-control"/>
                </label>
              </p>
              <p class="form-row form-row-wide">
                <label class="datetimepicker">Thời gian ở:
                  <input type="date" id="date" class="form-control">
                </label>
              </p>
            </div>
            <button *ngIf="!isCheckLogin" class="button book-now fullwidth margin-top-5" routerLink = "/login">Xác nhận thuê nhà</button>
            <button *ngIf="isCheckLogin" class="button book-now fullwidth margin-top-5" type="submit">Xác nhận thuê </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
