<div class="main-search-container" style="background-image: url(https://msmobile.com.vn/upload_images/images/tai-hinh-nen-nha-dep-cho-may-tinh-4.jpg)">
  <form class="main-search-form" >
    <div class="main-search-box" style="background:rgba(0,0,0,0.5);">
      <div class="row with-forms">
        <div class="col-md-10">
          <input type="text" placeholder="Nhập số nhà">
        </div>
        <div class="col-md-2">
          <button type="button" class="button">Thêm</button>
        </div>
      </div>
      <div class="row with-forms">
        <div class="col-md-6">
          <select data-placeholder="Quận" class="chosen-select-no-single" >
            <option label="Quận"></option>
            <option>Hà Nội</option>
            <option>Danh sách 02</option>
            <option>Danh sách 03</option>
            <option>Danh sách 04</option>
          </select>
        </div>
        <div class="col-md-6">
          <select data-placeholder="Thành phố" class="chosen-select-no-single">
            <option label="Thành phố"></option>
            <option>Hà Nội</option>

            <option>Danh sách 02</option>
            <option>Danh sách 03</option>
            <option>Danh sách 04</option>
          </select>
        </div>
      </div>
      <div class="row with-forms">
        <div class="col-md-4">
          <select data-placeholder="Loại nhà cho thuê" class="chosen-select-no-single">
            <option label="Loại nhà cho thuê"></option>
            <option>Loại nhà cho thuê</option>
            <option>Căn hộ</option>
            <option>Nhà ở</option>
            <option>Nhà để xe</option>
            <option>Rât nhiều</option>
          </select>
        </div>
        <div class="col-md-4">
          <select data-placeholder="Khoảng giá" class="chosen-select-no-single">
            <option label="Khoảng giá"></option>
            <option>Diện tích</option>
            <option>Danh sách 02</option>
            <option>Danh sách 03</option>
            <option>Danh sách 04</option>
          </select>
        </div>
        <div class="col-md-4">
          <div class="select-input">
            <input type="text" placeholder="Giá cho thuê" data-unit="VNĐ">
          </div>
        </div>
      </div>
      <div class="row with-forms">
        <div class="col-md-4">
          <select data-placeholder="Diện tích" class="chosen-select-no-single">
            <option label="Diện tích"></option>
            <option>Diện tích</option>
            <option>Danh sách 02</option>
            <option>Danh sách 03</option>
            <option>Danh sách 04</option>
          </select>
        </div>
        <div class="col-md-4">
          <select data-placeholder="Phòng ngủ" class="chosen-select-no-single">
            <option label="Phòng ngủ"></option>
            <option>Giường (bất kì)</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="col-md-4">
          <select data-placeholder="Nhà tắm" class="chosen-select-no-single">
            <option label="Nhà tắm"></option>
            <option>Nhà tắm (bất kì)</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="row with-forms">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Tiêu đề">
        </div>
      </div>
      <div class="row with-forms">
        <div class="col-md-12">
          <textarea placeholder="Thông tin ngôi nhà"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
