<div class="main-search-container"
     style="background-image: url(https://msmobile.com.vn/upload_images/images/tai-hinh-nen-nha-dep-cho-may-tinh-4.jpg)">
  <form class="main-search-form">
    <div class="search-type">
      <label class="active"><input class="first-tab" name="tab" checked="checked"
                                   type="radio">Cho thuê</label>
      <div class="search-type-arrow"></div>
    </div>
    <div class="main-search-box">
      <input type="text" placeholder="Nhập số nhà">
      <div class="main-search-input larger-input">
        <select data-placeholder="Quận" class="chosen-select-no-single">
          <option label="Quận"></option>
          <option>Hà Nội</option>
          <option>Danh sách 02</option>
          <option>Danh sách 03</option>
          <option>Danh sách 04</option>
        </select>
        <select data-placeholder="Thành phố" class="chosen-select-no-single">
          <option label="Thành phố"></option>
          <option>Hà Nội</option>

          <option>Danh sách 02</option>
          <option>Danh sách 03</option>
          <option>Danh sách 04</option>
        </select>
      </div>
      <div class="row with-forms">
        <div class="col-md-4">
          <select data-placeholder="Loại nhà cho thuê" class="chosen-select-no-single">
            <option label="Loại nhà cho thuê"></option>
            <option>Loại nhà cho thuê</option>
            <option>Căn hộ</option>
            <option>Nhà ở</option>
            <option>Nhà để xe</option>
            <option>Rât nhiều</option>
          </select>
        </div>
        <div class="col-md-4">
          <select data-placeholder="Diện tích" class="chosen-select-no-single">
            <option label="Diện tích"></option>
            <option>Diện tích</option>
            <option>Danh sách 02</option>
            <option>Danh sách 03</option>
            <option>Danh sách 04</option>
          </select>
        </div>
        <div class="col-md-4">
          <div class="select-input">
            <input type="text" placeholder="Giá cho thuê" data-unit="VNĐ">
          </div>
          <select data-placeholder="Mức giá" class="chosen-select-no-single">
            <option label="Mức giá"></option>
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="row with-forms">
        <div class="col-md-6">
          <select data-placeholder="Phòng ngủ" class="chosen-select-no-single">
            <option label="Phòng ngủ"></option>
            <option>Giường (bất kì)</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="col-md-6">
          <select data-placeholder="Nhà tắm" class="chosen-select-no-single">
            <option label="Nhà tắm"></option>
            <option>Nhà tắm (bất kì)</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </div>
      <div class="row with-forms">
        <div class="col-md-6">
          <select data-placeholder="Nhà tắm" class="chosen-select-no-single">
            <option label="blank"></option>
            <option>Nhà tắm (bất kì)</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <button class="button">Thêm</button>
  </form>
</div>
