<!-- Wrapper -->
<div id="wrapper">


    <!-- Compare Properties Widget
================================================== -->
    <!-- Compare Properties Widget / End -->


    <!-- Header Container
================================================== -->
  <app-header></app-header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->


    <!-- Banner
================================================== -->
    <app-slider></app-slider>

    <!-- Content
================================================== -->
  <app-content></app-content>


    <!-- Fullwidth Section -->
   <app-fullwidth></app-fullwidth>
    <!-- Fullwidth Section / End -->


    <!-- Container -->
    <app-container></app-container>
    <!-- Container / End -->


    <!-- Fullwidth2 Section -->
  <app-fullwidth2></app-fullwidth2>
    <!-- Fullwidth2 Section / End -->


    <!-- Flip banner -->
    <a href="listings-half-map-grid-standard.html" class="flip-banner parallax"
        data-background="assets/images/flip-banner-bg.jpg" data-color="#274abb" data-color-opacity="0.9" data-img-width="2500"
        data-img-height="1600">
        <div class="flip-banner-content">
            <h2 class="flip-visible">Chúng tôi giúp mọi người và mọi nhà tìm thấy nhau</h2>
            <h2 class="flip-hidden">Duyệt thuộc tính <i class="sl sl-icon-arrow-right"></i></h2>
        </div>
    </a>
    <!-- Flip banner / End -->




    <!-- Footer
================================================== -->
   <app-footer></app-footer>
    <!-- Footer / End -->


    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    <!-- Scripts
================================================== -->
</div>