<div class="parallax" data-background="assets/images/bg-2.jpg" data-color="#36383e" data-color-opacity="0.45"
        data-img-width="2000" data-img-height="800">
        <div class="parallax-content">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Main Search Container -->
                        <div class="main-search-container">
                            <h2>Tìm ngôi nhà mơ ước của bạn</h2>

                            <!-- Main Search -->
                            <form class="main-search-form">

                                <!-- Type -->
                                <div class="search-type">
                                    <label class="active"><input class="first-tab" name="tab" checked="checked"
                                            type="radio">Mọi trạng thái</label>
                                    <label><input name="tab" type="radio">Rao bán</label>
                                    <label><input name="tab" type="radio">Cho thuê</label>
                                    <div class="search-type-arrow"></div>
                                </div>


                                <!-- Box -->
                                <div class="main-search-box">

                                    <!-- Main Search Input -->
                                    <div class="main-search-input larger-input">
                                        <input type="text" class="ico-01" id="autocomplete-input"
                                            placeholder="Nhập địa chỉ, ví dụ: Thành phố ,quận ,huyện    " value="" />
                                        <button class="button">Tìm kiếm</button>
                                    </div>

                                    <!-- Row -->
                                    <div class="row with-forms">

                                        <!-- Property Type -->
                                        <div class="col-md-4">
                                            <select data-placeholder="Tùy chọn" class="chosen-select-no-single">
                                                <option>Bất kì loại nào</option>
                                                <option>Căn hộ</option>
                                                <option>Những ngôi nhà</option>
                                                <option>Quảng cáo</option>
                                                <option>Nhà để xe</option>
                                                <option>Rât nhiều</option>
                                            </select>
                                        </div>


                                        <!-- Min Price -->
                                        <div class="col-md-4">

                                            <!-- Select Input -->
                                            <div class="select-input">
                                                <input type="text" placeholder="Giá thấp nhất" data-unit="VNĐ">
                                            </div>
                                            <!-- Select Input / End -->

                                        </div>


                                        <!-- Max Price -->
                                        <div class="col-md-4">

                                            <!-- Select Input -->
                                            <div class="select-input">
                                                <input type="text" placeholder="Giá cao nhất" data-unit="VNĐ">
                                            </div>
                                            <!-- Select Input / End -->

                                        </div>

                                    </div>
                                    <!-- Row / End -->


                                    <!-- More Search Options -->
                                    <a href="#" class="more-search-options-trigger" data-open-title="Thêm lựa chọn"
                                        data-close-title="Thêm tùy chọn"></a>

                                    <div class="more-search-options">
                                        <div class="more-search-options-container">

                                            <!-- Row -->
                                            <div class="row with-forms">

                                                <!-- Min Price -->
                                                <div class="col-md-6">

                                                    <!-- Select Input -->
                                                    <div class="select-input">
                                                        <input type="text" placeholder="Khu vực gần nhất" data-unit="km">
                                                    </div>
                                                    <!-- Select Input / End -->

                                                </div>

                                                <!-- Max Price -->
                                                <div class="col-md-6">

                                                    <!-- Select Input -->
                                                    <div class="select-input">
                                                        <input type="text" placeholder="Khu vực xa nhất" data-unit="km">
                                                    </div>
                                                    <!-- Select Input / End -->

                                                </div>

                                            </div>
                                            <!-- Row / End -->


                                            <!-- Row -->
                                            <div class="row with-forms">

                                                <!-- Min Area -->
                                                <div class="col-md-6">
                                                    <select data-placeholder="Giường" class="chosen-select-no-single">
                                                        <option label="blank"></option>
                                                        <option>Giường (bất kì)</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>

                                                <!-- Max Area -->
                                                <div class="col-md-6">
                                                    <select data-placeholder="Nhà tăm" class="chosen-select-no-single">
                                                        <option label="blank"></option>
                                                        <option>Nhà tắm (bất kì)</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <!-- Row / End -->


                                            <!-- Checkboxes -->
                                            <div class="checkboxes in-row">

                                                <input id="check-2" type="checkbox" name="check">
                                                <label for="check-2">Điều hòa</label>

                                                <input id="check-3" type="checkbox" name="check">
                                                <label for="check-3">Hồ bơi</label>

                                                <input id="check-4" type="checkbox" name="check">
                                                <label for="check-4">Hệ thống sưởi ấm</label>

                                                <input id="check-5" type="checkbox" name="check">
                                                <label for="check-5">Phòng giặt là</label>


                                                <input id="check-6" type="checkbox" name="check">
                                                <label for="check-6">Gym</label>

                                                <input id="check-7" type="checkbox" name="check">
                                                <label for="check-7">Báo thức</label>

                                                <input id="check-8" type="checkbox" name="check">
                                                <label for="check-8">Cửa sổ</label>

                                            </div>
                                            <!-- Checkboxes / End -->

                                        </div>
                                    </div>
                                    <!-- More Search Options / End -->


                                </div>
                                <!-- Box / End -->

                            </form>
                            <!-- Main Search -->

                        </div>
                        <!-- Main Search Container / End -->

                    </div>
                </div>
            </div>

        </div>
    </div>
