<form *ngIf="formContract" [formGroup]="formContract" (ngSubmit)="onSubmit()">
  <div id="titlebar" class="property-titlebar margin-bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="listings-list-with-sidebar.html" class="back-to-listings"></a>
          <div class="property-title">
            <h2>Hợp đồng cho thuê </h2>
            <span>
						<a href="#location" class="listing-address">
							<i class="fa fa-map-marker"></i>
						Địa chỉ :
						</a>
					</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="row with-forms">
        <ul class="property-features margin-top-0" style="display: none">
          <li><input type="text" [(ngModel)]="house.id" formControlName="home_id" style="display: none"></li>
          <li>Loại nhà: <span><input type="text" [(ngModel)]="house.category.name" formControlName="category"></span>
          </li>
          <li>Diện tích: <span><input type="text" [(ngModel)]="house.levelsquared.name"
                                      formControlName="squared"></span></li>
          <li>Phân khúc: <span><input type="text" [(ngModel)]="house.levelprice.name"
                                      formControlName="level_price"></span></li>
          <li>Giá thuê: <span><input type="text" [(ngModel)]="house.price" formControlName="price"></span></li>
          <li>Phòng ngủ: <span><input type="text" [(ngModel)]="house.bedroom.name" formControlName="bedroom"></span>
          </li>
          <li>Phòng tắm: <span><input type="text" [(ngModel)]="house.bathroom.name" formControlName="bathroom"></span>
          </li>
          <li>Tỉnh/Thành phố: <span><input type="text" [(ngModel)]="house.city.name" formControlName="city"></span></li>
          <li>Quận/Huyện: <span><input type="text" [(ngModel)]="house.district.name" formControlName="district"></span>
          </li>
        </ul>
      </div>
      <!-- Property Description -->
      <div class="col-lg-8 col-md-7 sp-content">
        <div class="property-description">

          <!-- Main Features -->
          <ul class="property-main-features">
            <li>Diện tích nhà<span>1450 sq ft</span></li>
            <li>Giá tiền <span>500000</span></li>
            <li>Phòng ngủ <span>2</span></li>
            <li>Phòng tắm <span>1</span></li>
          </ul>


          <!-- Description -->
          <h3 class="desc-headline">Hợp đồng thuê</h3>
          <div class="show-more">
            <p>
              Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac
              maximus
              neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum, est elit
              finibus tellus, ut tristique elit risus at metus. Sed fermentum, lorem vitae efficitur imperdiet, neque
              velit tristique turpis, et iaculis mi tortor finibus turpis.
            </p>
            <a href="#" class="show-more-button">Thông tin chi tiết <i class="fa fa-angle-down"></i></a>
          </div>

          <!-- Details -->
          <h3 class="desc-headline">Chi tiết căn nhà</h3>
          <ul class="property-features margin-top-0">
            <li>Building Age: <span>2 Years</span></li>
            <li>Parking: <span>Attached Garage</span></li>
            <li>Cooling: <span>Central Cooling</span></li>
            <li>Heating: <span>Forced Air, Gas</span></li>
            <li>Sewer: <span>Public/City</span></li>
            <li>Water: <span>City</span></li>
            <li>Exercise Room: <span>Yes</span></li>
            <li>Storage Room: <span>Yes</span></li>
          </ul>
          <h3 class="desc-headline no-border" id="location">Ảnh</h3>
          <div id="propertyMap-container">
            <div class="row margin-bottom-50">
              <div class="col-md-12">

                <!-- Slider -->
                <div class="property-slider default">
                  <a href="assets/images/single-property-01.jpg"
                     data-background-image="assets/images/single-property-01.jpg" class="item mfp-gallery">
                  </a>
                  <input type="text" formControlName="houseImage"  [(ngModel)]="house.image" style="display:none" >
                </div>
                <!-- Slider Thumbs -->
                <div class="property-slider-nav">
                  <div class="item"><img src="assets/images/single-property-01.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 sp-sidebar">
        <div class="sidebar sticky right">
          <div class="widget">
            <div id="booking-widget-anchor" class="boxed-widget booking-widget margin-top-35">
              <h3><i class="fa fa-calendar-check-o"></i> Thời gian thuê nhà</h3>
              <div class="row with-forms  margin-top-0">

                <!-- Date Range Picker - docs: http://www.daterangepicker.com/ -->
                <div class="col-lg-12">
                  <label>Thời gian đến :</label>
                  <input type="date" placeholder="Thời gian đến">
                </div>
                <div class="col-lg-12">
                  <label>Thời gian trả phòng :</label>
                  <input type="date" placeholder="Thời gian đến">
                </div>
              </div>
            </div>
          </div>
          <div class="widget">
            <div class="agent-widget">
              <h3>Thông tin chủ nhà</h3>
              <div class="agent-title">
                <div class="agent-photo"><img src="assets/images/agent-avatar.jpg" alt=""/></div>
                <input type="text" formControlName="renter_image" [(ngModel)]="renter.image" style="display:none">
                <div class="agent-details">
                  <h4><a href="#">Jennie Wilson</a></h4>
                  <input type="text" formControlName="renter_name" [(ngModel)]="renter.name" style="display:none">
                  <span><i class="sl sl-icon-call-in"></i>(123) 123-456</span>
                  <input type="text" formControlName="renter_phone" [(ngModel)]="renter.phone" style="display:none">
                  <input type="text" formControlName="renter_id" [(ngModel)]="renter.id" style="display:none">
                </div>
                <div class="clearfix"></div>
              </div>
              <input type="text" placeholder="Your Email"
                     pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
              <input type="text" placeholder="Your Phone">
              <textarea>I'm interested in this property [ID 123456] and I'd like to know more details.</textarea>
            </div>
            <!-- Agent Widget / End -->

          </div>
          <!-- Widget / End -->


          <!-- Widget -->
          <div class="widget">
            <div class="agent-widget">
              <h3>Thông tin của bạn</h3>
              <div class="agent-title">
                <div class="agent-photo"><img src="assets/images/agent-avatar.jpg" alt=""/></div>
                <input type="text" class="" formControlName="leaser_image" [(ngModel)]="house.user.image" style="display:none">
                <div class="agent-details">
                  <h4><a href="#">Jennie Wilson</a></h4>
                  <input type="text" class="" formControlName="leaser_name" [(ngModel)]="house.user.name" style="display:none">
                  <span><i class="sl sl-icon-call-in"></i>(123) 123-456</span>
                  <input type="number" class="" formControlName="leaser_phone" [(ngModel)]="house.user.phone" style="display:none">
                </div>
                <div class="clearfix"></div>
              </div>
              <input type="text" placeholder="Your Email"
                     pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
              <input type="text" placeholder="Your Phone">
              <textarea>I'm interested in this property [ID 123456] and I'd like to know more details.</textarea>
              <input type="text" formControlName="leaser_address" [(ngModel)]="house.user.address" style="display:none">
              <button type="submit" class="button fullwidth margin-top-5">Thuê nhà</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
