<div class="form-group"></div>
<div class="forms"></div>
<div id="wrapper">
  <div class="container">
    <div class="row fullwidth-layout">
      <!-- Sorting / Layout Switcher -->
      <div class="row margin-bottom-15">
        <a *ngIf="isCheckLogin" class="more-search-options-trigger margin-top-10" routerLink="../houses/create">Đăng nhà
          cho thuê</a>
        <!-- Listings -->
        <div class="listings-container list-layout">

          <!-- Listing Item -->
          <div class="listing-item" *ngFor="let product of products">

            <a href="#" class="listing-img-container"
               routerLink="../houses/{{product.id}}/detail">

              <div class="listing-badges">
                <span class="featured">Đặc sắc</span>
                <span>{{product.homestatus.name}}</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price"><i>{{product.price | currency: 'VND'}} / tháng</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>

              <div class="listing-carousel">
                <div *ngFor="let media of product.media"><img src="{{media.content}}" alt=""></div>
              </div>
            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a href="" routerLink="../houses/{{product.id}}/detail">{{product.title}}</a></h4>
                <a
                  href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                  class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  {{product.detail_address}}
                </a>

                <a href="single-property-page-1.html" class="details button border">Details</a>
              </div>

              <ul class="listing-details">
                <
                <li>{{product.price | currency: 'VND'}}/tháng</li>
                <li>Loại nhà: {{product.category.name}}</li>
                <li>Phòng ngủ: {{product.bedroom.name}}</li>
                <li>Phòng tắm: {{product.bathroom.name}}</li>
              </ul>

              <div class="listing-footer">
                <a href="#"><i class="fa fa-user"></i> {{product.user.name}}</a>
                <span><i class="fa fa-calendar-o"></i> {{product.user.created_at}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
