<router-outlet></router-outlet>
<div id="wrapper">
  <div class="clearfix"></div>
  <section class="search margin-bottom-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="search-title">Tìm kiếm</h3>
          <div class="main-search-box no-shadow">
            <div class="row with-forms">
              <div class="col-md-3">
                <select data-placeholder="Loại nhà thuê" class="chosen-select-no-single">
                  <option>Bất kỳ loại nào</option>
                  <option>Căn hộ</option>
                  <option>Nhà ở</option>
                </select>
              </div>
              <div class="col-md-3">
                <select data-placeholder="Thành phố" class="chosen-select-no-single">
                  <option>Hà Nội</option>
                  <option>Căn hộ</option>
                  <option>Nhà ở</option>
                </select>
              </div>
              <div class="col-md-6">
                <div class="main-search-input">
                  <input type="text" placeholder="Nhập địa chỉ, ví dụ:thành phố hoặc quận" value=""/>
                  <button class="button">Tìm kiếm</button>
                </div>
              </div>
            </div>
            <div class="row with-forms">
              <div class="col-md-3">
                  <select data-placeholder="Diện tích" class="chosen-select-no-single">
                    <option label="Chọn diện tích"></option>
                    <option>Diện tích bất kì</option>
                  </select>
              </div>
              <div class="col-md-3">
                  <select data-placeholder="Số tiền" class="chosen-select-no-single">
                    <option label="Chọn số tiền"></option>
                    <option>Giá tiền bất kì</option>
                  </select>
              </div>
              <div class="col-md-3">
                <select data-placeholder="Số phòng ngủ" class="chosen-select-no-single">
                  <option label="Số phòng ngủ"></option>
                  <option>Phòng ngủ</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="col-md-3">
                <select data-placeholder="Số nhà tắm" class="chosen-select-no-single">
                  <option label="Số nhà tắm"></option>
                  <option>Nhà tắm</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="more-search-options-trigger margin-top-10" routerLink="product-create"
         style="font-size:23px">Thêm sản phẩm</a>
    </div>
  </section>
  <div>
    <div class="row fullwidth-layout">
      <div class="col-md-12">
        <div class="row margin-bottom-15">
          <div class="col-md-6">
            <div class="sort-by">
              <label>Sắp xếp theo:</label>
              <div class="sort-by-select">
                <select data-placeholder="Default order" class="chosen-select-no-single">
                  <option>Đơn hàng mặc định</option>
                  <option>Giá từ thấp đến cao</option>
                  <option>Giá từ cao đến thấp</option>
                  <option>Thuộc tính mới nhất</option>
                  <option>Thuộc tính cũ nhất</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="layout-switcher">
              <a href="#" class="grid-three"><i class="fa fa-th"></i></a>
              <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
              <a href="#" class="list"><i class="fa fa-th-list"></i></a>
            </div>
          </div>
        </div>
        <div class="listings-container grid-layout-three">
          <div class="listing-item">
            <a href="single-property-page-1.html" class="listing-img-container">
              <div class="listing-badges">
                <span class="featured">Đặc sắc</span>
                <span>Rao bán</span>
              </div>
              <div class="listing-img-content">
                <span class="listing-price"><i>3.000.000VNĐ / Tháng</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>
              <div class="listing-carousel">
                <div><img src="assets/images/listing-01c.jpg" alt=""></div>
              </div>
            </a>
            <div class="listing-content">
              <div class="listing-title">
                <h4><a href="single-property-page-1.html">Căn hộ Eagle</a></h4>
                <a
                  href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                  class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  9364 School St. Hoàng Cầu, HN
                </a>
                <a href="single-property-page-1.html" class="details button border">Thông tin chi tiết</a>
              </div>
              <ul class="listing-details">
                <li>3.000.000VNĐ/tháng</li>
                <li>1 phòng ngủ</li>
                <li>3 phòng</li>
                <li>1 phòng tắm</li>
              </ul>
              <div class="listing-footer">
                <a href="#"><i class="fa fa-user"></i> Hà Huy Cường</a>
                <span><i class="fa fa-calendar-o"></i> 1 ngày trước</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="pagination-container margin-top-20">
          <nav class="pagination">
            <ul>
              <li><a href="#" class="current-page">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="blank">...</li>
              <li><a href="#">22</a></li>
            </ul>
          </nav>
          <nav class="pagination-next-prev">
            <ul>
              <li><a href="#" class="prev">Previous</a></li>
              <li><a href="#" class="next">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
