<div class="form-group"></div>
<div class="forms"></div>
<div id="wrapper">
  <div class="container">
    <!--    style="background-image: url(http://1.bp.blogspot.com/-8wZnglRtGH4/UOVSBZmsUXI/AAAAAAAAJg4/8ogOGGnl81s/s1600/hinh-nen-hd-dep-cho-may-tinh-nha-wallpaper-1.jpg)"-->
    <!--    style="background:rgba(0,0,0,0.5);"-->
    <div class="row fullwidth-layout">
      <div class="col-md-12">
        <a *ngIf="isCheckLogin" class="more-search-options-trigger margin-top-10" routerLink="../houses/create">Đăng nhà
          cho thuê</a>
        <div class="listings-container grid-layout-three">
          <div class="listing-item" *ngFor="let house of houses">
            <a routerLink="../houses/{{house.id}}/detail" class="listing-img-container">
              <div class="listing-badges">
                <span class="featured">Đặc sắc</span>
                <span>{{house.homestatus.name}}</span>
              </div>
              <div class="listing-img-content">
                <span class="listing-price"> <i>{{house.price | currency: 'VND'}} / tháng</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>
              <div class="listing-carousel">
                <div *ngFor="let media of house.media"><img src="{{media.content}}" alt=""></div>
              </div>
            </a>
            <div class="listing-content">
              <div class="listing-title">
                <h4><a routerLink="../houses/{{house.id}}/detail">{{house.title}}</a></h4>
                <a
                  href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom"
                  class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  {{house.detail_address}}
                </a>
              </div>
              <ul class="listing-details">
                <li>Loại nhà: {{house.category.name}}</li>
                <li>Diện tích: {{house.levelsquared.name}}/m<sup>2</sup></li>
                <li>Phòng ngủ: {{house.bedroom.name}}</li>
                <li>Phòng tắm: {{house.bathroom.name}}</li>
              </ul>
              <div class="listing-footer">
                <a href="#"><i class="fa fa-user"></i> {{house.user.name}}</a>
                <span><i class="fa fa-calendar-o"></i> {{house.user.created_at}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="pagination-container margin-top-20">
          <nav class="pagination">
            <ul>
              <li><a href="#" class="current-page">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="blank">...</li>
              <li><a href="#">22</a></li>
            </ul>
          </nav>
          <nav class="pagination-next-prev">
            <ul>
              <li><a href="#" class="prev">Previous</a></li>
              <li><a href="#" class="next">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
